1. Faça o uploado do CSV carros.csv
2. Print seu head com 10 linhas
3. Agora print as colunas e index do dataframe
4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros
5. Descubra qual a proporção de carro para a população de cada estado e insira uma nova coluna
6. Faça um dataframe com Estado e proporção de carro por habitante

In [19]:
import pandas as pd
import numpy as np

In [2]:
#1. Faça o uploado do CSV carros.csv
df_carros = pd.read_csv('carros.csv')

In [3]:
#2. Print seu head com 10 linhas
df_carros.head(10)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032
5,Nordeste,Ceará,10807,4943,40773.0,0.265053
6,Sudeste,Distrito Federal,5786,4459,6899.0,0.838672
7,Sudeste,Espírito Santo,5494,4073,6267.0,0.876655
8,Sudeste,Goiás,24412,2021,36551.0,0.667889
9,Centro-Oeste,Maranhão,8472,4461,16394.0,0.516774

In [4]:
#3. Agora print as colunas e index do dataframe
df_carros.columns

Index(['Região', 'Estado', 'Quant Carros', 'Quant Carros Família com Filhos',
       'População do Estado', 'Carros por habitante'],
      dtype='object')

In [5]:
df_carros.index

RangeIndex(start=0, stop=27, step=1)

In [6]:
#4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros
df_carros.sort_values('Quant Carros', ascending = False)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
18,Norte,Rio de Janeiro,33848,2579,48323.0,0.700453
8,Sudeste,Goiás,24412,2021,36551.0,0.667889
21,Centro-Oeste,Rondônia,23113,2981,48001.0,0.481511
13,Nordeste,Pará,22387,4893,35740.0,0.626385
25,Sudeste,Sergipe,22307,1815,28483.0,0.783169
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
12,Centro-Oeste,Minas Gerais,17291,4843,46606.0,0.371004
26,Sudeste,Tocantins,17144,4342,22159.0,0.773681
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032
5,Nordeste,Ceará,10807,4943,40773.0,0.265053
14,Sul,Paraíba,10666,2500,19502.0,0.546918
16,Sul,Pernambuco,10533,3449,15627.0,0.674026
23,Norte,Santa Catarina,9466,3317,28897.0,0.327577
9,Centro-Oeste,Maranhão,8472,4461,16394.0,0.516774
17,Centro-Oeste,Piauí,7912,3777,13792.0,0.573666
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
19,Sul,Rio Grande do Norte,6396,1161,48021.0,0.133192
24,Norte,São Paulo,6317,4934,7612.0,0.829874
15,Nordeste,Paraná,6036,1702,26777.0,0.225417
6,Sudeste,Distrito Federal,5786,4459,6899.0,0.838672
11,Sudeste,Mato Grosso do Sul,5683,2129,8890.0,0.639258
7,Sudeste,Espírito Santo,5494,4073,6267.0,0.876655
10,Sul,Mato Grosso,4868,3613,8556.0,0.568957
0,Sul,Acre,4342,1034,23942.0,0.181355
22,Sul,Roraima,3561,1995,16016.0,0.222340
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
20,Nordeste,Rio Grande do Sul,2241,1201,13433.0,0.166828

In [7]:
#5. Descubra qual a proporção de carro para a população de cada estado e insira uma nova coluna
proporcao = df_carros['Quant Carros'] / df_carros['População do Estado']
proporcao

0     0.181355
1     0.810507
2     0.834258
3     0.612835
4     0.468032
5     0.265053
6     0.838672
7     0.876655
8     0.667889
9     0.516774
10    0.568957
11    0.639258
12    0.371004
13    0.626385
14    0.546918
15    0.225417
16    0.674026
17    0.573666
18    0.700453
19    0.133192
20    0.166828
21    0.481511
22    0.222340
23    0.327577
24    0.829874
25    0.783169
26    0.773681
dtype: float64

In [8]:
df_carros['Carros por habitante'] = proporcao
df_carros.head()

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032

In [9]:
#6. Faça um dataframe com Estado e proporção de carro por habitante
df_estado_hab = df_carros[['Estado', 'Carros por habitante']]
df_estado_hab.head()

     Estado  Carros por habitante
0      Acre              0.181355
1   Alagoas              0.810507
2     Amapá              0.834258
3  Amazonas              0.612835
4     Bahia              0.468032

Agregação de Dados

utilizando o arquivo: dados_concurso.csv

7. Quantas pessoas são do estado do Piauí?
8. Qual a distribuição de escolaridade por região?
9. Qual é a porcentagem de pessoas com deficiência?

In [10]:
df_concurso = pd.read_csv('dados_concurso.csv')
df_concurso.head()

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
0,f2bf14e6-9ecc-43d1-9098-1a133277d26a,NaN,2022-01-11 16:47:41,da Mota de das Neves,MS,F,Sim,João Miguel,Castro,Ensino Médio
1,afd1d890-dbfd-4d72-a9a2-4309f356167a,1910-02-05,2022-01-30 13:17:53,Teixeira do Norte,SE,NaN,Não,Maria Sophia,Rezende,Ensino Fundamental
2,16451a82-28f8-48bf-a5b6-9f0c5b25ef6b,NaN,2022-01-28 12:28:17,NaN,CE,F,Sim,Giovanna,Freitas,Ensino Superior
3,200731b4-a651-4a2d-9d01-11d4d6a41511,1949-11-21,2022-01-20 02:11:07,Porto,RN,F,Não,João Felipe,Peixoto,Ensino Superior
4,22369508-74a2-403b-8237-1851971a08d6,1963-06-26,2022-01-23 21:48:36,Pires do Oeste,PA,F,Não,Benjamin,Farias,Ensino Médio

In [11]:
#7. Quantas pessoas são do estado do Piauí?
df_concurso[df_concurso['Estado'] == 'PI']['Número de Inscrição'].count()

4

In [12]:
#8. Qual a distribuição de escolaridade por região?
df_concurso[['Número de Inscrição', 'Estado']].groupby('Estado').count()

        Número de Inscrição
Estado
AL                        3
AM                        1
AP                        6
BA                        3
CE                        3
DF                        2
ES                        1
GO                        4
MA                        4
MG                        3
MS                        2
MT                        3
PA                        4
PB                        3
PE                        5
PI                        4
PR                        1
RJ                        2
RN                        5
RO                        2
RR                        1
RS                        2
SC                        3
SE                        5
SP                        4
TO                        3

In [13]:
df_concurso[['Estado', 'Escolaridade', 'Número de Inscrição']].groupby(['Estado', 'Escolaridade']).count()

                           Número de Inscrição
Estado Escolaridade
AL     Ensino Fundamental                    1
       Ensino Superior                       1
AM     Ensino Superior                       1
AP     Ensino Fundamental                    3
       Ensino Médio                          2
BA     Ensino Superior                       2
CE     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
DF     Ensino Superior                       2
ES     Ensino Superior                       1
GO     Ensino Fundamental                    2
       Ensino Médio                          2
MA     Ensino Fundamental                    2
MG     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
MS     Ensino Médio                          1
       Ensino Superior                       1
MT     Ensino Médio                          1
       Ensino Superior                       1
PA     Ensino Médio                          1
       Ensino Superior                       3
PB     Ensino Fundamental                    1
       Ensino Superior                       1
PE     Ensino Fundamental                    2
       Ensino Médio                          2
PI     Ensino Médio                          1
       Ensino Superior                       3
PR     Ensino Fundamental                    1
RJ     Ensino Fundamental                    1
       Ensino Superior                       1
RN     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       2
RO     Ensino Fundamental                    1
RS     Ensino Médio                          1
SC     Ensino Médio                          1
       Ensino Superior                       1
SE     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       1
SP     Ensino Fundamental                    2
       Ensino Médio                          1
TO     Ensino Fundamental                    1
       Ensino Superior                       1

In [14]:
#9. Qual é a porcentagem de pessoas com deficiência?
df_concurso['Deficiência'].value_counts(normalize=True) *100

Deficiência
Sim    52.941176
Não    47.058824
Name: proportion, dtype: float64

Indíces e fatiamento

Utilizando os arquivo dados_concurso.csv

10. Retorne o dado com número de inscrição, nome, data de nascimento
11. Quantas pessoas nasceram antes de 1995?
12. Quais foram os primeiros 10 inscritos?

In [15]:
df_concurso

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
0,f2bf14e6-9ecc-43d1-9098-1a133277d26a,NaN,2022-01-11 16:47:41,da Mota de das Neves,MS,F,Sim,João Miguel,Castro,Ensino Médio
1,afd1d890-dbfd-4d72-a9a2-4309f356167a,1910-02-05,2022-01-30 13:17:53,Teixeira do Norte,SE,NaN,Não,Maria Sophia,Rezende,Ensino Fundamental
2,16451a82-28f8-48bf-a5b6-9f0c5b25ef6b,NaN,2022-01-28 12:28:17,NaN,CE,F,Sim,Giovanna,Freitas,Ensino Superior
3,200731b4-a651-4a2d-9d01-11d4d6a41511,1949-11-21,2022-01-20 02:11:07,Porto,RN,F,Não,João Felipe,Peixoto,Ensino Superior
4,22369508-74a2-403b-8237-1851971a08d6,1963-06-26,2022-01-23 21:48:36,Pires do Oeste,PA,F,Não,Benjamin,Farias,Ensino Médio
...,...,...,...,...,...,...,...,...,...,...
95,b162a88d-6afa-46aa-afbe-f5b0e0d13ce4,NaN,2022-01-13 17:54:11,Cavalcanti,PE,F,Não,Cauê,Peixoto,Ensino Médio
96,25e9b106-2c3d-444d-b7d4-ae34ad33bc88,NaN,2022-01-28 11:32:23,Correia,NaN,F,Sim,Maria Eduarda,Porto,NaN
97,4ffbc174-78af-4da1-a53a-b442c20a876e,NaN,2022-01-14 13:27:45,NaN,SE,NaN,Sim,Catarina,Silveira,Ensino Fundamental
98,d4e8e12a-3298-4ff1-a80f-2946431bd5a7,1916-06-21,2022-01-17 00:02:17,NaN,MS,F,Não,Giovanna,Jesus,Ensino Superior
99,7af3e5da-99a2-4f0f-900c-cbc194351ce8,1959-03-14,2022-01-20 22:40:45,Sales,NaN,M,Não,Eloah,Souza,Ensino Fundamental

In [16]:
#10. Retorne o dado com número de inscrição, nome, data de nascimento
df_concurso[['Número de Inscrição', 'Nome', 'Data de Nascimento']]

                     Número de Inscrição           Nome Data de Nascimento
0   f2bf14e6-9ecc-43d1-9098-1a133277d26a    João Miguel                NaN
1   afd1d890-dbfd-4d72-a9a2-4309f356167a   Maria Sophia         1910-02-05
2   16451a82-28f8-48bf-a5b6-9f0c5b25ef6b       Giovanna                NaN
3   200731b4-a651-4a2d-9d01-11d4d6a41511    João Felipe         1949-11-21
4   22369508-74a2-403b-8237-1851971a08d6       Benjamin         1963-06-26
..                                   ...            ...                ...
95  b162a88d-6afa-46aa-afbe-f5b0e0d13ce4           Cauê                NaN
96  25e9b106-2c3d-444d-b7d4-ae34ad33bc88  Maria Eduarda                NaN
97  4ffbc174-78af-4da1-a53a-b442c20a876e       Catarina                NaN
98  d4e8e12a-3298-4ff1-a80f-2946431bd5a7       Giovanna         1916-06-21
99  7af3e5da-99a2-4f0f-900c-cbc194351ce8          Eloah         1959-03-14

[100 rows x 3 columns]

In [17]:
#11. Quantas pessoas nasceram antes de 1995?
df_concurso['Data de Nascimento'] = pd.to_datetime(df_concurso['Data de Nascimento'])

In [22]:
[df_concurso['Data de Nascimento'] < np.datetime64('1995')]

[0     False
 1      True
 2     False
 3      True
 4      True
       ...
 95    False
 96    False
 97    False
 98     True
 99     True
 Name: Data de Nascimento, Length: 100, dtype: bool]

In [23]:
df_concurso['Data de Nascimento'].loc[df_concurso['Data de Nascimento'] < np.datetime64('1995')]

1    1910-02-05
3    1949-11-21
4    1963-06-26
7    1965-08-06
9    1923-04-18
10   1968-05-11
13   1967-03-24
14   1948-06-13
16   1923-08-12
17   1988-10-28
18   1929-04-16
20   1951-07-24
22   1928-02-08
23   1984-03-04
26   1971-04-10
27   1925-07-31
28   1977-12-08
30   1941-09-25
32   1989-12-05
33   1936-07-23
34   1992-09-11
35   1977-08-07
36   1964-06-25
37   1953-09-15
38   1950-06-18
40   1943-10-09
42   1947-11-26
43   1988-01-02
44   1939-12-28
45   1962-10-18
47   1981-10-27
48   1945-09-21
49   1916-09-23
50   1958-03-22
51   1939-06-08
53   1959-06-23
54   1988-08-17
55   1965-09-07
56   1967-06-04
61   1966-11-14
62   1970-02-27
65   1915-11-03
67   1965-02-06
68   1950-08-20
69   1955-05-13
70   1943-02-16
72   1943-04-17
73   1912-01-11
75   1913-01-06
76   1970-06-26
77   1964-08-30
78   1994-02-26
83   1947-11-19
85   1917-02-18
90   1924-01-20
91   1925-08-31
93   1910-05-22
94   1946-10-04
98   1916-06-21
99   1959-03-14
Name: Data de Nascimento, dtype: datetime64[ns]

In [24]:
df_antes_95 = df_concurso.loc[df_concurso['Data de Nascimento']< np.datetime64('1995')]
df_antes_95

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
1,afd1d890-dbfd-4d72-a9a2-4309f356167a,1910-02-05,2022-01-30 13:17:53,Teixeira do Norte,SE,NaN,Não,Maria Sophia,Rezende,Ensino Fundamental
3,200731b4-a651-4a2d-9d01-11d4d6a41511,1949-11-21,2022-01-20 02:11:07,Porto,RN,F,Não,João Felipe,Peixoto,Ensino Superior
4,22369508-74a2-403b-8237-1851971a08d6,1963-06-26,2022-01-23 21:48:36,Pires do Oeste,PA,F,Não,Benjamin,Farias,Ensino Médio
7,02899759-c6f1-45e3-bbad-6f4354f108f1,1965-08-06,2022-01-10 17:18:25,NaN,RN,M,Não,Vitor,Oliveira,Ensino Médio
9,b613c99e-113e-4e29-b2ff-c4a760096d6f,1923-04-18,2022-01-11 15:38:31,Freitas,AM,F,Sim,Pedro Lucas,Porto,Ensino Superior
10,d5853ead-5886-448f-b2fb-e0ac3ee9d4da,1968-05-11,2022-01-16 01:35:17,da Conceição da Prata,MA,M,Sim,Bruno,Cardoso,NaN
13,3b49659d-ea37-43fa-a1d7-75786b33ccfe,1967-03-24,2022-01-15 13:39:23,Cardoso dos Dourados,NaN,M,Sim,Francisco,Freitas,Ensino Médio
14,ce724367-0f16-43ef-baf4-64155dca3a25,1948-06-13,2022-01-27 13:52:07,Cunha,SE,F,Não,Stella,Moura,NaN
16,11fb4c71-809a-4327-a3f7-82c15bac0b36,1923-08-12,2022-01-14 07:34:39,Pinto,PB,M,Não,Murilo,Monteiro,Ensino Superior
17,b6462017-e1a5-4a4b-963b-a26f16c7c91f,1988-10-28,2022-01-23 10:29:35,da Luz da Serra,MG,F,Sim,Luiz Miguel,Silva,Ensino Superior
18,36754e72-94f6-4bc1-bc92-f2460278bfd3,1929-04-16,2022-01-14 22:49:41,NaN,MT,NaN,Não,Stephany,Ferreira,Ensino Superior
20,17954cc3-454d-42f2-a39d-10600365dc4b,1951-07-24,2022-01-13 18:59:57,Viana Grande,DF,M,NaN,Ana Sophia,Mendes,Ensino Superior
22,15125837-e882-47a9-b279-0862707d3ec7,1928-02-08,2022-01-27 03:57:59,Santos dos Dourados,BA,M,Sim,João,da Luz,Ensino Superior
23,06eb17b2-c804-49ad-bfc9-c1070a0dbf19,1984-03-04,2022-01-17 18:58:02,NaN,NaN,M,Não,Pietro,Sales,NaN
26,e2c1defe-a2e3-46c8-b15c-06c0a94394d6,1971-04-10,2022-01-23 15:53:19,NaN,NaN,NaN,Sim,Diego,Costela,Ensino Médio
27,dbb1164a-716f-46e6-aef1-4b4b1e792327,1925-07-31,2022-01-24 12:56:05,Viana,NaN,NaN,Sim,Enzo Gabriel,Mendes,Ensino Médio
28,8774d895-7d46-495f-b2f0-c0d84d948ab7,1977-12-08,2022-01-14 04:05:23,Campos,AP,M,Não,Kaique,Rezende,Ensino Fundamental
30,d6a8ad8a-511a-46d7-ab54-e9ee1ce9f845,1941-09-25,2022-01-05 11:45:04,Freitas da Praia,RJ,F,Sim,Isabella,Ramos,Ensino Fundamental
32,a480907b-b165-4b01-836f-61acc1673a08,1989-12-05,2022-01-11 17:39:40,Cavalcanti,NaN,F,Não,João Guilherme,Duarte,NaN
33,cb470e08-3eb6-46f4-aba8-afc06a32abeb,1936-07-23,2022-01-08 14:18:39,Silva,PA,NaN,NaN,Matheus,Barbosa,Ensino Superior
34,b4dcd7a3-0682-4b81-80c0-28b74cf58187,1992-09-11,2022-01-06 17:07:32,da Luz do Oeste,RO,F,Sim,Marcela,Costela,NaN
35,60453be8-5579-4158-a65a-ae4cff52e33f,1977-08-07,2022-01-21 19:56:41,Novaes,AL,M,Sim,Davi Lucas,Viana,NaN
36,771d2fbd-6774-4d4c-b8bb-25edbebd6b3b,1964-06-25,2022-01-11 06:55:40,Freitas de Goiás,NaN,M,Sim,Noah,Pereira,Ensino Fundamental
37,5486cde3-1831-46d4-b3f3-a7a58ee9e21a,1953-09-15,2022-01-13 17:44:10,NaN,AL,M,Sim,Kevin,da Luz,Ensino Fundamental
38,7dc6e922-ed4a-47fe-b95f-34d604e70b71,1950-06-18,2022-01-22 23:04:21,da Paz das Flores,NaN,M,Não,Joaquim,Almeida,Ensino Superior
40,29f32700-1766-4add-a410-85f27c7165d3,1943-10-09,2022-01-26 01:10:45,Ramos,SP,NaN,NaN,Otávio,Freitas,Ensino Médio
42,0a1b5390-6ef7-442c-81cf-14754a0562a6,1947-11-26,2022-01-06 06:15:29,Caldeira de Goiás,DF,F,Sim,Mariane,Porto,Ensino Superior
43,8b11d945-da41-4898-b2d7-4f80f849f5c6,1988-01-02,2022-01-24 21:26:34,da Costa,MG,F,Sim,Leandro,Lima,Ensino Médio
44,f9139834-3f46-4843-bfef-25b05473c083,1939-12-28,2022-01-07 21:58:27,Souza,PE,NaN,NaN,Pietra,Viana,NaN
45,c55cef5b-479c-4489-8252-b4fb8d393e3e,1962-10-18,2022-01-19 23:27:20,Vieira,RN,M,NaN,Rafaela,Gonçalves,Ensino Superior
47,cad8af29-725e-4a89-8ba9-46b79becdeec,1981-10-27,2022-01-07 21:50:04,Nunes de Goiás,MT,F,Não,Beatriz,Sales,NaN
48,b9f4188e-e6fe-4ce0-90db-91be8652a216,1945-09-21,2022-01-07 03:33:30,Cardoso,SE,F,Sim,Sabrina,Castro,Ensino Superior
49,5a7108eb-10e7-41b2-8332-275501a74a73,1916-09-23,2022-01-13 23:53:29,Campos da Mata,TO,M,Sim,Lorenzo,Araújo,Ensino Fundamental
50,cce779b7-4f16-4eef-a289-8fde3dee849d,1958-03-22,2022-01-12 11:26:35,Correia do Campo,GO,M,Sim,Gustavo,Cardoso,Ensino Médio
51,888ca75b-2f05-4c89-abbf-5bd6cab6fc1a,1939-06-08,2022-01-10 21:11:05,Gomes,SC,F,Sim,Luna,Vieira,NaN
53,1aaaf909-760a-4dba-90e8-4b96208a8c27,1959-06-23,2022-01-14 07:33:23,NaN,MG,M,Sim,Thiago,Gomes,Ensino Fundamental
54,ca0ee64f-4cd0-45f8-9f73-6c4b18d43ff2,1988-08-17,2022-01-11 22:18:07,da Costa,MA,F,Não,Marcelo,Pereira,NaN
55,1060853a-7405-4058-bc9a-56cc6334f27c,1965-09-07,2022-01-06 17:34:51,da Rosa do Campo,NaN,M,Não,Valentina,Gomes,Ensino Fundamental
56,c535f8ef-47e4-42a2-b019-67210b03c052,1967-06-04,2022-01-10 01:30:24,Farias,RN,NaN,NaN,Amanda,Farias,Ensino Fundamental
61,a38c5367-c97a-4f78-9dc6-9369e47af20f,1966-11-14,2022-01-15 05:44:53,Campos do Galho,AP,F,Não,Maria,Jesus,Ensino Fundamental
62,210258d8-797f-441f-9845-942b1a70fe7c,1970-02-27,2022-01-19 14:56:33,Ferreira,CE,NaN,Sim,Ana Beatriz,Nascimento,Ensino Fundamental
65,abe099ca-1594-4f1d-a861-04a644c24c02,1915-11-03,2022-01-20 19:16:23,Melo da Prata,NaN,F,Não,Henrique,Farias,Ensino Fundamental
67,7c5c20ed-574e-44d9-ae9c-c772c8ef17e5,1965-02-06,2022-01-06 20:55:19,NaN,MT,F,Não,Davi Lucca,Cardoso,Ensino Médio
68,7cdd0bfc-99dd-46c7-8e33-9fc2a2895214,1950-08-20,2022-01-27 08:06:37,Gomes,NaN,NaN,Não,Lucas Gabriel,Alves,Ensino Superior
69,39716abe-80e5-4d69-a90c-0ad6c13a07ea,1955-05-13,2022-01-06 19:19:44,Cavalcanti,AL,M,NaN,André,Gomes,Ensino Superior
70,1fb74728-e70a-4d8f-9c4e-dc9ce1f7b85a,1943-02-16,2022-01-07 08:31:35,Moura,NaN,F,NaN,Kamilly,Fogaça,Ensino Fundamental
72,bfd020f1-634e-4986-87f9-92bdd86df680,1943-04-17,2022-01-22 03:00:23,Aragão,PI,F,Sim,Yuri,Martins,Ensino Superior
73,9097571b-9fb9-43a9-a2b4-8b499f620c8a,1912-01-11,2022-01-11 03:33:49,da Costa,BA,M,Sim,Francisco,Costela,NaN
75,318cc7c3-f02f-4d5b-9d4f-91c9461bdc2b,1913-01-06,2022-01-19 23:27:51,Silva,NaN,M,Sim,Henrique,Ferreira,Ensino Fundamental
76,48b96931-5a54-4b6c-bbab-c46bc7e56957,1970-06-26,2022-01-05 17:58:42,Monteiro do Amparo,NaN,F,Não,Clara,Moreira,Ensino Médio
77,5095caf9-af96-4caf-a7ca-6d6daf3ae574,1964-08-30,2022-01-17 22:49:27,NaN,AP,M,Sim,Elisa,Teixeira,NaN
78,d9bc53eb-912b-4897-8464-133087d05e94,1994-02-26,2022-01-11 13:34:12,NaN,MA,NaN,NaN,Stella,Melo,Ensino Fundamental
83,bcb328e7-a430-44cf-bf53-97013554a278,1947-11-19,2022-01-12 14:35:50,NaN,RN,M,Sim,Maria Clara,Silveira,Ensino Fundamental
85,1356cae9-7bde-4cea-9234-8333e3e7de8b,1917-02-18,2022-01-26 11:07:03,NaN,RS,NaN,Sim,Heitor,da Luz,NaN
90,05905706-2b32-41d9-ac01-6b344cf7b0e9,1924-01-20,2022-01-19 09:32:58,NaN,RS,F,Não,Sabrina,Dias,Ensino Médio
91,6be6795e-d588-4c2b-9793-6a6f6934e97e,1925-08-31,2022-01-10 21:34:24,Martins do Oeste,GO,F,NaN,Alexandre,Martins,Ensino Fundamental
93,67bc6c78-b15e-400d-a4c0-f998210fb3f9,1910-05-22,2022-01-19 20:09:51,Araújo Grande,BA,M,NaN,Luna,da Costa,Ensino Superior
94,72fdbd78-b0fe-4b80-bb34-201c285e66c6,1946-10-04,2022-01-19 07:48:06,NaN,CE,F,Sim,Mariane,da Costa,Ensino Médio
98,d4e8e12a-3298-4ff1-a80f-2946431bd5a7,1916-06-21,2022-01-17 00:02:17,NaN,MS,F,Não,Giovanna,Jesus,Ensino Superior
99,7af3e5da-99a2-4f0f-900c-cbc194351ce8,1959-03-14,2022-01-20 22:40:45,Sales,NaN,M,Não,Eloah,Souza,Ensino Fundamental

In [30]:
#12. Quais foram os primeiros 10 inscritos?
df_concurso2 = df_concurso.copy()
df_concurso2.set_index('Data de Inscrição').sort_index()[:10]

,Número de Inscrição,Data de Nascimento,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
Data de Inscrição,,,,,,,,,
2022-01-05 07:21:28,1d6b237b-44d1-43d8-92c7-0825c3a02805,NaT,Moreira,TO,F,Não,Anthony,Barros,Ensino Superior
2022-01-05 07:26:19,26a5f7c3-f7bb-46d9-a9b2-0ca62429c56d,2000-07-09,NaN,RJ,F,Sim,Bruno,Azevedo,Ensino Superior
2022-01-05 11:45:04,d6a8ad8a-511a-46d7-ab54-e9ee1ce9f845,1941-09-25,Freitas da Praia,RJ,F,Sim,Isabella,Ramos,Ensino Fundamental
2022-01-05 14:25:54,a87116d6-215c-459d-b36d-04dea839d3fe,NaT,da Mota,GO,F,Não,Bryan,Castro,Ensino Fundamental
2022-01-05 16:46:21,cdebe031-88d0-4099-bfb2-47123c30ba15,2012-09-06,Ramos Alegre,SC,F,NaN,Milena,da Paz,Ensino Superior
2022-01-05 17:58:42,48b96931-5a54-4b6c-bbab-c46bc7e56957,1970-06-26,Monteiro do Amparo,NaN,F,Não,Clara,Moreira,Ensino Médio
2022-01-05 18:28:29,f3cae86a-4920-407f-9fcd-7317da8221e2,2016-03-10,Silva do Galho,SP,F,Não,Alexandre,Souza,NaN
2022-01-06 06:15:29,0a1b5390-6ef7-442c-81cf-14754a0562a6,1947-11-26,Caldeira de Goiás,DF,F,Sim,Mariane,Porto,Ensino Superior
2022-01-06 17:07:32,b4dcd7a3-0682-4b81-80c0-28b74cf58187,1992-09-11,da Luz do Oeste,RO,F,Sim,Marcela,Costela,NaN
2022-01-06 17:34:51,1060853a-7405-4058-bc9a-56cc6334f27c,1965-09-07,da Rosa do Campo,NaN,M,Não,Valentina,Gomes,Ensino Fundamental

In [31]:
df_concurso2.sort_values('Data de Inscrição').iloc[:10,:]

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
6,1d6b237b-44d1-43d8-92c7-0825c3a02805,NaT,2022-01-05 07:21:28,Moreira,TO,F,Não,Anthony,Barros,Ensino Superior
11,26a5f7c3-f7bb-46d9-a9b2-0ca62429c56d,2000-07-09,2022-01-05 07:26:19,NaN,RJ,F,Sim,Bruno,Azevedo,Ensino Superior
30,d6a8ad8a-511a-46d7-ab54-e9ee1ce9f845,1941-09-25,2022-01-05 11:45:04,Freitas da Praia,RJ,F,Sim,Isabella,Ramos,Ensino Fundamental
79,a87116d6-215c-459d-b36d-04dea839d3fe,NaT,2022-01-05 14:25:54,da Mota,GO,F,Não,Bryan,Castro,Ensino Fundamental
41,cdebe031-88d0-4099-bfb2-47123c30ba15,2012-09-06,2022-01-05 16:46:21,Ramos Alegre,SC,F,NaN,Milena,da Paz,Ensino Superior
76,48b96931-5a54-4b6c-bbab-c46bc7e56957,1970-06-26,2022-01-05 17:58:42,Monteiro do Amparo,NaN,F,Não,Clara,Moreira,Ensino Médio
12,f3cae86a-4920-407f-9fcd-7317da8221e2,2016-03-10,2022-01-05 18:28:29,Silva do Galho,SP,F,Não,Alexandre,Souza,NaN
42,0a1b5390-6ef7-442c-81cf-14754a0562a6,1947-11-26,2022-01-06 06:15:29,Caldeira de Goiás,DF,F,Sim,Mariane,Porto,Ensino Superior
34,b4dcd7a3-0682-4b81-80c0-28b74cf58187,1992-09-11,2022-01-06 17:07:32,da Luz do Oeste,RO,F,Sim,Marcela,Costela,NaN
55,1060853a-7405-4058-bc9a-56cc6334f27c,1965-09-07,2022-01-06 17:34:51,da Rosa do Campo,NaN,M,Não,Valentina,Gomes,Ensino Fundamental