1. Faça o uploado do CSV carros.csv
2. Print seu head com 10 linhas
3. Agora print as colunas e index do dataframe
4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros
5. Descubra qual a proporção de carro para a população de cada estado e insira uma nova coluna
6. Faça um dataframe com Estado e proporção de carro por habitante

In [1]:
import pandas as pd

C:\Users\lpgn\AppData\Local\Temp\ipykernel_3988\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#1. Faça o uploado do CSV carros.csv
df_carros = pd.read_csv('carros.csv')

In [3]:
#2. Print seu head com 10 linhas
df_carros.head(10)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032
5,Nordeste,Ceará,10807,4943,40773.0,0.265053
6,Sudeste,Distrito Federal,5786,4459,6899.0,0.838672
7,Sudeste,Espírito Santo,5494,4073,6267.0,0.876655
8,Sudeste,Goiás,24412,2021,36551.0,0.667889
9,Centro-Oeste,Maranhão,8472,4461,16394.0,0.516774

In [4]:
#3. Agora print as colunas e index do dataframe
df_carros.columns

Index(['Região', 'Estado', 'Quant Carros', 'Quant Carros Família com Filhos',
       'População do Estado', 'Carros por habitante'],
      dtype='object')

In [5]:
df_carros.index

RangeIndex(start=0, stop=27, step=1)

In [6]:
#4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros
df_carros.sort_values('Quant Carros', ascending = False)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
18,Norte,Rio de Janeiro,33848,2579,48323.0,0.700453
8,Sudeste,Goiás,24412,2021,36551.0,0.667889
21,Centro-Oeste,Rondônia,23113,2981,48001.0,0.481511
13,Nordeste,Pará,22387,4893,35740.0,0.626385
25,Sudeste,Sergipe,22307,1815,28483.0,0.783169
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
12,Centro-Oeste,Minas Gerais,17291,4843,46606.0,0.371004
26,Sudeste,Tocantins,17144,4342,22159.0,0.773681
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032
5,Nordeste,Ceará,10807,4943,40773.0,0.265053
14,Sul,Paraíba,10666,2500,19502.0,0.546918
16,Sul,Pernambuco,10533,3449,15627.0,0.674026
23,Norte,Santa Catarina,9466,3317,28897.0,0.327577
9,Centro-Oeste,Maranhão,8472,4461,16394.0,0.516774
17,Centro-Oeste,Piauí,7912,3777,13792.0,0.573666
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
19,Sul,Rio Grande do Norte,6396,1161,48021.0,0.133192
24,Norte,São Paulo,6317,4934,7612.0,0.829874
15,Nordeste,Paraná,6036,1702,26777.0,0.225417
6,Sudeste,Distrito Federal,5786,4459,6899.0,0.838672
11,Sudeste,Mato Grosso do Sul,5683,2129,8890.0,0.639258
7,Sudeste,Espírito Santo,5494,4073,6267.0,0.876655
10,Sul,Mato Grosso,4868,3613,8556.0,0.568957
0,Sul,Acre,4342,1034,23942.0,0.181355
22,Sul,Roraima,3561,1995,16016.0,0.222340
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
20,Nordeste,Rio Grande do Sul,2241,1201,13433.0,0.166828

In [7]:
#5. Descubra qual a proporção de carro para a população de cada estado e insira uma nova coluna
proporcao = df_carros['Quant Carros'] / df_carros['População do Estado']
proporcao

0     0.181355
1     0.810507
2     0.834258
3     0.612835
4     0.468032
5     0.265053
6     0.838672
7     0.876655
8     0.667889
9     0.516774
10    0.568957
11    0.639258
12    0.371004
13    0.626385
14    0.546918
15    0.225417
16    0.674026
17    0.573666
18    0.700453
19    0.133192
20    0.166828
21    0.481511
22    0.222340
23    0.327577
24    0.829874
25    0.783169
26    0.773681
dtype: float64

In [8]:
df_carros['Carros por habitante'] = proporcao
df_carros.head()

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032

In [9]:
#6. Faça um dataframe com Estado e proporção de carro por habitante
df_estado_hab = df_carros[['Estado', 'Carros por habitante']]
df_estado_hab.head()

     Estado  Carros por habitante
0      Acre              0.181355
1   Alagoas              0.810507
2     Amapá              0.834258
3  Amazonas              0.612835
4     Bahia              0.468032

Agregação de Dados

utilizando o arquivo: dados_concurso.csv

7. Quantas pessoas são do estado do Piauí?
8. Qual a distribuição de escolaridade por região?
9. Qual é a porcentagem de pessoas com deficiência?

In [10]:
df_concurso = pd.read_csv('dados_concurso.csv')
df_concurso.head()

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
0,f2bf14e6-9ecc-43d1-9098-1a133277d26a,NaN,2022-01-11 16:47:41,da Mota de das Neves,MS,F,Sim,João Miguel,Castro,Ensino Médio
1,afd1d890-dbfd-4d72-a9a2-4309f356167a,1910-02-05,2022-01-30 13:17:53,Teixeira do Norte,SE,NaN,Não,Maria Sophia,Rezende,Ensino Fundamental
2,16451a82-28f8-48bf-a5b6-9f0c5b25ef6b,NaN,2022-01-28 12:28:17,NaN,CE,F,Sim,Giovanna,Freitas,Ensino Superior
3,200731b4-a651-4a2d-9d01-11d4d6a41511,1949-11-21,2022-01-20 02:11:07,Porto,RN,F,Não,João Felipe,Peixoto,Ensino Superior
4,22369508-74a2-403b-8237-1851971a08d6,1963-06-26,2022-01-23 21:48:36,Pires do Oeste,PA,F,Não,Benjamin,Farias,Ensino Médio

In [11]:
#7. Quantas pessoas são do estado do Piauí?
df_concurso[df_concurso['Estado'] == 'PI']['Número de Inscrição'].count()

4

In [12]:
#8. Qual a distribuição de escolaridade por região?
df_concurso[['Número de Inscrição', 'Estado']].groupby('Estado').count()

        Número de Inscrição
Estado
AL                        3
AM                        1
AP                        6
BA                        3
CE                        3
DF                        2
ES                        1
GO                        4
MA                        4
MG                        3
MS                        2
MT                        3
PA                        4
PB                        3
PE                        5
PI                        4
PR                        1
RJ                        2
RN                        5
RO                        2
RR                        1
RS                        2
SC                        3
SE                        5
SP                        4
TO                        3

In [13]:
df_concurso[['Estado', 'Escolaridade', 'Número de Inscrição']].groupby(['Estado', 'Escolaridade']).count()

                           Número de Inscrição
Estado Escolaridade
AL     Ensino Fundamental                    1
       Ensino Superior                       1
AM     Ensino Superior                       1
AP     Ensino Fundamental                    3
       Ensino Médio                          2
BA     Ensino Superior                       2
CE     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
DF     Ensino Superior                       2
ES     Ensino Superior                       1
GO     Ensino Fundamental                    2
       Ensino Médio                          2
MA     Ensino Fundamental                    2
MG     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
MS     Ensino Médio                          1
       Ensino Superior                       1
MT     Ensino Médio                          1
       Ensino Superior                       1
PA     Ensino Médio                          1
       Ensino Superior                       3
PB     Ensino Fundamental                    1
       Ensino Superior                       1
PE     Ensino Fundamental                    2
       Ensino Médio                          2
PI     Ensino Médio                          1
       Ensino Superior                       3
PR     Ensino Fundamental                    1
RJ     Ensino Fundamental                    1
       Ensino Superior                       1
RN     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       2
RO     Ensino Fundamental                    1
RS     Ensino Médio                          1
SC     Ensino Médio                          1
       Ensino Superior                       1
SE     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       1
SP     Ensino Fundamental                    2
       Ensino Médio                          1
TO     Ensino Fundamental                    1
       Ensino Superior                       1

In [14]:
#9. Qual é a porcentagem de pessoas com deficiência?
df_concurso['Deficiência'].value_counts(normalize=True) *100

Deficiência
Sim    52.941176
Não    47.058824
Name: proportion, dtype: float64