In [1]:
import pandas as pd
import numpy as np

C:\Users\lpgn\AppData\Local\Temp\ipykernel_13612\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('collected research people.csv')
df.head()

,Unnamed: 0,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [3]:
#Removendo coluna desnecessária
df = df.drop(columns=['Unnamed: 0'])
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [4]:
df.columns

Index(['Nome', 'Endereerço', 'Cidade', 'Estado', 'phone', 'anual_income',
       'Estado Civil', 'AAge', 'n_filhos', 'Moradia', 'Food_restrictions',
       'streaming', 'diariamente_sun blocker', 'Vai na Praia Mensalmente',
       'Faz Academia', 'Compra e Lê Livros Todos os Anos',
       'Quantidade de Livros Comprados', 'Autor Favorito', 'email'],
      dtype='object')

In [5]:
#Dicionário de mapeamento para renomear as colunas
novas_cols = {'Endereerço': 'Endereço', 
              'phone': 'Telefone', 
              'anual_income': 'Renda Anual', 
              'AAge': 'Idade', 
              'n_filhos': 'N Filhos',  
              'Food_restrictions': 'Restrição Alimentar', 
              'streaming': 'Streaming', 
              'diariamente_sun blocker': 'Usa protetor solar diariamente', 
              'email': 'Email'}
df.rename(columns=novas_cols, inplace=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição Alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira>,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr. Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo%,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [6]:
df.Nome

0            Maria Clara Novaes
1           Davi Lucca Pereira>
2             Sr. Caio Caldeira
3               Kaique Azevedo%
4                 Pedro Moreira
5         Sra. Ana Júlia Castro
6                Erick Carvalho
7        Sra. Ana Sophia Vieira
8              Dav4i Nascimento
9                 Juan da Mota<
10               Stephany Pinto
11                Joana Rezende
12         Dra. Letícia Ribeiro
13              Beatriz Azevedo
14               André Monteiro
15        João Guilherme Porto^
16               Augusto_ Rocha
17      Srta. Isabelly da Rocha
18              Heloísa Santos>
19              Calebe Azevedo.
20                   _Ana Alves
21      Maria Fernanda Ribeiro=
22                 Samuel Jesus
23               Beatriz Ramos?
24               Dr. Davi Cunha
25            Enrico Cavalcanti
26                /Raquel Moura
27               Lorena Cardoso
28              Diogo Caldeira#
29              Maria Gonçalves
30              Isadora Cardoso
31               Igor Ferreira'
32               Sabrina Nunes}
33           Pedro Miguel Silva
34    Dra. Clarice da Conceição
35            Daniel Rodrigues'
36                   Isis Silva
Name: Nome, dtype: object

Utilizando expressão regular

- \W equivale a [^a-zA-Zà-úÀ-Ú0-9_]

In [7]:
#Removendo caracteres especiais da coluna Nome
df['Nome'].str.replace(r'\W', '', regex=True) # == df['Nome'].str.replace(r'[^a-zA-Zà-úÀ-Ú0-9_]', '', regex=True)

0          MariaClaraNovaes
1          DaviLuccaPereira
2            SrCaioCaldeira
3             KaiqueAzevedo
4              PedroMoreira
5         SraAnaJúliaCastro
6             ErickCarvalho
7        SraAnaSophiaVieira
8           Dav4iNascimento
9                JuandaMota
10            StephanyPinto
11             JoanaRezende
12        DraLetíciaRibeiro
13           BeatrizAzevedo
14            AndréMonteiro
15       JoãoGuilhermePorto
16            Augusto_Rocha
17      SrtaIsabellydaRocha
18            HeloísaSantos
19            CalebeAzevedo
20                _AnaAlves
21     MariaFernandaRibeiro
22              SamuelJesus
23             BeatrizRamos
24              DrDaviCunha
25         EnricoCavalcanti
26              RaquelMoura
27            LorenaCardoso
28            DiogoCaldeira
29           MariaGonçalves
30           IsadoraCardoso
31             IgorFerreira
32             SabrinaNunes
33         PedroMiguelSilva
34    DraClaricedaConceição
35          DanielRodrigues
36                IsisSilva
Name: Nome, dtype: object

In [8]:
df['Nome'].str.replace(r'[^a-zA-Zà-úÀ-Ú0-9_]', '', regex=True)

0          MariaClaraNovaes
1          DaviLuccaPereira
2            SrCaioCaldeira
3             KaiqueAzevedo
4              PedroMoreira
5         SraAnaJúliaCastro
6             ErickCarvalho
7        SraAnaSophiaVieira
8           Dav4iNascimento
9                JuandaMota
10            StephanyPinto
11             JoanaRezende
12        DraLetíciaRibeiro
13           BeatrizAzevedo
14            AndréMonteiro
15       JoãoGuilhermePorto
16            Augusto_Rocha
17      SrtaIsabellydaRocha
18            HeloísaSantos
19            CalebeAzevedo
20                _AnaAlves
21     MariaFernandaRibeiro
22              SamuelJesus
23             BeatrizRamos
24              DrDaviCunha
25         EnricoCavalcanti
26              RaquelMoura
27            LorenaCardoso
28            DiogoCaldeira
29           MariaGonçalves
30           IsadoraCardoso
31             IgorFerreira
32             SabrinaNunes
33         PedroMiguelSilva
34    DraClaricedaConceição
35          DanielRodrigues
36                IsisSilva
Name: Nome, dtype: object

In [9]:
#Removendo o _ e adicionando espaço em branco
df['Nome'] = df['Nome'].str.replace(r'[^a-zA-Zà-úÀ-Ú0-9 ]', '', regex=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição Alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [10]:
#Removendo caracteres especiais da coluna Telefone, mas se atentando ao que dee ser mantido
df.Telefone

0         (011) 3908 5991
1                     NaN
2                     NaN
3                     NaN
4              -0.'8--%/]
5     +55 (084) 4591-2403
6            84 9687 5023
7              5}|#:}~<7~
8        +55 51 6868 3666
9                     NaN
10                    NaN
11          0900 093 9760
12                    NaN
13           81 2891-7504
14             ^{{52$,,78
15                    NaN
16           41 5504 8546
17           84 2319-1532
18          0800 612 6032
19                    NaN
20           51 5882 5998
21                    NaN
22             ;~).,-:5~=
23    +55 (021) 4719 9862
24        (084) 0305 6725
25        (011) 3410 5199
26                    NaN
27           84 6014-5325
28                    NaN
29       +55 71 7088-8329
30                    NaN
31           21 0712-6859
32       +55 51 2213 5603
33             8:<$9@\:~/
34       +55 51 8245 2336
35        (061) 5002 3548
36             '|2{938(=[
Name: Telefone, dtype: object

In [11]:
#Removendo tudo que seja no intervalo 0-9, ' ' - + e (), adicionando * nos caracteres especiais como forma de marcação
df.Telefone = df['Telefone'].str.replace(r'[^0-9() +-]', '*', regex=True)
df.Telefone.head()

0    (011) 3908 5991
1                NaN
2                NaN
3                NaN
4         -0**8--***
Name: Telefone, dtype: object

In [12]:
#Substituindo os * por Nan
df.loc[df.Telefone.str.contains('[*]', na=False), 'Telefone'] = np.nan
df.Telefone.head()

0    (011) 3908 5991
1                NaN
2                NaN
3                NaN
4                NaN
Name: Telefone, dtype: object

In [13]:
#Substituindo NaN por Telefone não informado
df.Telefone = df.Telefone.fillna('Telefone não informado')
df.Telefone.head()

0           (011) 3908 5991
1    Telefone não informado
2    Telefone não informado
3    Telefone não informado
4    Telefone não informado
Name: Telefone, dtype: object

In [14]:
df['Estado Civil']

0            NaN
1            NaN
2              S
3         Casado
4         Casado
5       Solteiro
6              D
7            NaN
8     Divorciado
9     Divorciado
10           NaN
11    Divorciado
12             C
13      Solteiro
14           NaN
15      Solteiro
16           NaN
17      Solteiro
18             V
19             S
20             D
21         Viúvo
22         Viúvo
23           NaN
24             V
25      Solteiro
26         Viúvo
27    Divorciado
28        Casado
29           NaN
30           NaN
31    Divorciado
32           NaN
33           NaN
34    Divorciado
35             D
36           NaN
Name: Estado Civil, dtype: object

In [15]:
#Criando um novo dicionário de substituição
df['Estado Civil'].replace({'S': 'Solteiro',
                            'C': 'Casado',
                            'V': 'Viúvo',
                            'D': 'Divorciado'}, inplace = True)
df['Estado Civil'].head()

0         NaN
1         NaN
2    Solteiro
3      Casado
4      Casado
Name: Estado Civil, dtype: object

In [16]:
#Substituindo NaN por Estado Civil não informado
df['Estado Civil'].fillna('Estado Civil não informado', inplace=True)
df['Estado Civil'].head()

0    Estado Civil não informado
1    Estado Civil não informado
2                      Solteiro
3                        Casado
4                        Casado
Name: Estado Civil, dtype: object

In [17]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição Alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

Cenário 1

A empresa Carri Construtora contratou a empresa que você trabalha para encontrar possíveis compradores para seus novos empreendimentos.

A empresa quer entender as necessidades dos clientes e quer informações como:
- Quais clientes devem ser abordados
- Qual empreendimento deve ser mostrado
- O cliente está em busca de investir em um imóvel ou comprar para moradia?

In [18]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição Alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'Email'],
      dtype='object')

In [19]:
df_carri = df.copy()

In [20]:
drop_carri = ['Restrição Alimentar',
              'Streaming', 
              'Usa protetor solar diariamente',
              'Compra e Lê Livros Todos os Anos', 
              'Quantidade de Livros Comprados',
              'Autor Favorito']

In [21]:
df_carri.drop(columns=drop_carri, inplace = True)
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com

In [22]:
#Verificando quem pode entrar na minha casa minha vida (8k*13=104k/ano)
df_carri.describe()

        Renda Anual      Idade   N Filhos
count     25.000000  30.000000  22.000000
mean   67570.640000  44.633333   2.909091
std    20917.823198  16.356973   1.600866
min    22826.000000  18.000000   0.000000
25%    53295.000000  30.250000   2.000000
50%    71448.000000  42.500000   3.000000
75%    86445.000000  60.000000   4.000000
max    95433.000000  78.000000   5.000000

In [23]:
df_carri['Minha Casa Minha Vida'] = True
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Email,Minha Casa Minha Vida
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com,True
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com,True
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True

In [24]:
#Para saber se é financimanto ou não
np.where((df_carri['Moradia'] == 'Quitada') | (df_carri['Moradia'] == 'Financiamento'), True, False)

array([ True, False,  True,  True,  True, False,  True, False, False,
       False, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False,  True, False, False, False,  True,
        True, False,  True, False, False, False,  True, False,  True,
        True])

In [25]:
df_carri['Investimento'] = np.where((df_carri['Moradia'] == 'Quitada') | (df_carri['Moradia'] == 'Financiamento'), True, False)
df_carri.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Vai na Praia Mensalmente,Faz Academia,Email,Minha Casa Minha Vida,Investimento
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Quitada,Não,Sim,mariaclaranovaes285@gemeil.com,True,True
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,De favor,Não,Sim,daviluccapereira933@exemplo.com,True,False
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Financiamento,Não,NaN,srcaiocaldeira626@gemeil.com,True,True
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Quitada,Não,Não,kaiqueazevedo731@rotmail.com,True,True
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Financiamento,Sim,NaN,pedromoreira622@gemeil.com,True,True

Cenário 2:

Uma empresa chamada Hillo é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, disney plus, etc), mas gostaria de saber quais empresas dariam o maior retorno de investimento. Eles podem fazer análise de machine learning também com esses dados

In [26]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição Alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'Email'],
      dtype='object')

In [27]:
df_hillo = df.copy()

In [28]:
df_hillo = df_hillo.drop(columns=['Moradia', 
                                  'Restrição Alimentar',
                                  'Usa protetor solar diariamente',
                                  'Vai na Praia Mensalmente', 
                                  'Faz Academia',
                                  'Compra e Lê Livros Todos os Anos', 
                                  'Quantidade de Livros Comprados',
                                  'Autor Favorito'])
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,Todos,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com

In [29]:
#Aplicando one-hot enconding em dados categoricos
df_hillo['Estado Civil'].str.get_dummies()

    Casado  Divorciado  Estado Civil não informado  Solteiro  Viúvo
0        0           0                           1         0      0
1        0           0                           1         0      0
2        0           0                           0         1      0
3        1           0                           0         0      0
4        1           0                           0         0      0
5        0           0                           0         1      0
6        0           1                           0         0      0
7        0           0                           1         0      0
8        0           1                           0         0      0
9        0           1                           0         0      0
10       0           0                           1         0      0
11       0           1                           0         0      0
12       1           0                           0         0      0
13       0           0                           0         1      0
14       0           0                           1         0      0
15       0           0                           0         1      0
16       0           0                           1         0      0
17       0           0                           0         1      0
18       0           0                           0         0      1
19       0           0                           0         1      0
20       0           1                           0         0      0
21       0           0                           0         0      1
22       0           0                           0         0      1
23       0           0                           1         0      0
24       0           0                           0         0      1
25       0           0                           0         1      0
26       0           0                           0         0      1
27       0           1                           0         0      0
28       1           0                           0         0      0
29       0           0                           1         0      0
30       0           0                           1         0      0
31       0           1                           0         0      0
32       0           0                           1         0      0
33       0           0                           1         0      0
34       0           1                           0         0      0
35       0           1                           0         0      0
36       0           0                           1         0      0

In [30]:
df_hillo.Streaming

0           Globo Play
1                Todos
2                  NaN
3                  NaN
4           Globo Play
5        Netflix e HBO
6                  NaN
7                  NaN
8          Crunchyroll
9               Nenhum
10                 HBO
11              Nenhum
12         Disney Plus
13               Todos
14                 NaN
15    Netflix e Disney
16                 NaN
17                 NaN
18                 NaN
19          Globo Play
20                 NaN
21              Nenhum
22                 NaN
23              Nenhum
24         Disney Plus
25                 NaN
26                 NaN
27                 NaN
28             Netflix
29               Todos
30          Globo Play
31                 HBO
32                 HBO
33                 NaN
34                 NaN
35          Globo Play
36         Crunchyroll
Name: Streaming, dtype: object

In [31]:
#Separando os ' e '
df_hillo['Streaming'].str.get_dummies(sep = ' e ')

    Crunchyroll  Disney  Disney Plus  Globo Play  HBO  Nenhum  Netflix  Todos
0             0       0            0           1    0       0        0      0
1             0       0            0           0    0       0        0      1
2             0       0            0           0    0       0        0      0
3             0       0            0           0    0       0        0      0
4             0       0            0           1    0       0        0      0
5             0       0            0           0    1       0        1      0
6             0       0            0           0    0       0        0      0
7             0       0            0           0    0       0        0      0
8             1       0            0           0    0       0        0      0
9             0       0            0           0    0       1        0      0
10            0       0            0           0    1       0        0      0
11            0       0            0           0    0       1        0      0
12            0       0            1           0    0       0        0      0
13            0       0            0           0    0       0        0      1
14            0       0            0           0    0       0        0      0
15            0       1            0           0    0       0        1      0
16            0       0            0           0    0       0        0      0
17            0       0            0           0    0       0        0      0
18            0       0            0           0    0       0        0      0
19            0       0            0           1    0       0        0      0
20            0       0            0           0    0       0        0      0
21            0       0            0           0    0       1        0      0
22            0       0            0           0    0       0        0      0
23            0       0            0           0    0       1        0      0
24            0       0            1           0    0       0        0      0
25            0       0            0           0    0       0        0      0
26            0       0            0           0    0       0        0      0
27            0       0            0           0    0       0        0      0
28            0       0            0           0    0       0        1      0
29            0       0            0           0    0       0        0      1
30            0       0            0           1    0       0        0      0
31            0       0            0           0    1       0        0      0
32            0       0            0           0    1       0        0      0
33            0       0            0           0    0       0        0      0
34            0       0            0           0    0       0        0      0
35            0       0            0           1    0       0        0      0
36            1       0            0           0    0       0        0      0

In [32]:
#Substituir quem tá como 'Todos' para selecionar os streamings
df_hillo.Streaming.replace({'Todos': 'Crunchyroll e Disney e Disney Plus e Globo Play e HBO e Netflix'}, inplace=True)

In [33]:
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,Crunchyroll e Disney e Disney Plus e Globo Pla...,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com

In [34]:
df_hillo['Streaming'].str.get_dummies(sep = ' e ')

    Crunchyroll  Disney  Disney Plus  Globo Play  HBO  Nenhum  Netflix
0             0       0            0           1    0       0        0
1             1       1            1           1    1       0        1
2             0       0            0           0    0       0        0
3             0       0            0           0    0       0        0
4             0       0            0           1    0       0        0
5             0       0            0           0    1       0        1
6             0       0            0           0    0       0        0
7             0       0            0           0    0       0        0
8             1       0            0           0    0       0        0
9             0       0            0           0    0       1        0
10            0       0            0           0    1       0        0
11            0       0            0           0    0       1        0
12            0       0            1           0    0       0        0
13            1       1            1           1    1       0        1
14            0       0            0           0    0       0        0
15            0       1            0           0    0       0        1
16            0       0            0           0    0       0        0
17            0       0            0           0    0       0        0
18            0       0            0           0    0       0        0
19            0       0            0           1    0       0        0
20            0       0            0           0    0       0        0
21            0       0            0           0    0       1        0
22            0       0            0           0    0       0        0
23            0       0            0           0    0       1        0
24            0       0            1           0    0       0        0
25            0       0            0           0    0       0        0
26            0       0            0           0    0       0        0
27            0       0            0           0    0       0        0
28            0       0            0           0    0       0        1
29            1       1            1           1    1       0        1
30            0       0            0           1    0       0        0
31            0       0            0           0    1       0        0
32            0       0            0           0    1       0        0
33            0       0            0           0    0       0        0
34            0       0            0           0    0       0        0
35            0       0            0           1    0       0        0
36            1       0            0           0    0       0        0

In [35]:
df_hillo_strem = df_hillo['Streaming'].str.get_dummies(sep = ' e ')

In [36]:
#Unindo os dados
df_hillo = pd.concat([df_hillo, df_hillo_strem], axis=1)
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,Email,Crunchyroll,Disney,Disney Plus,Globo Play,HBO,Nenhum,Netflix
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Globo Play,mariaclaranovaes285@gemeil.com,0,0,0,1,0,0,0
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,Crunchyroll e Disney e Disney Plus e Globo Pla...,daviluccapereira933@exemplo.com,1,1,1,1,1,0,1
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,NaN,srcaiocaldeira626@gemeil.com,0,0,0,0,0,0,0
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,NaN,kaiqueazevedo731@rotmail.com,0,0,0,0,0,0,0
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,Globo Play,pedromoreira622@gemeil.com,0,0,0,1,0,0,0

Cenário 3:

Uma influenciadora digital de bem estar gostaria de analisar possíveis empreendimentos de diferentes propostas que recebe. Essas propostas podem ser excludentes ou somatórias.

In [37]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição Alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'Email'],
      dtype='object')

In [38]:
df_inf = df.copy()

In [39]:
df_inf.drop(columns=['Moradia', 'Streaming'], inplace=True)

In [40]:
df_inf.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Restrição Alimentar,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,Email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Nenhuma,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,NaN,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Lactose e Glúten,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Lactose e Glúten,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,NaN,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [41]:
restricao = df_inf['Restrição Alimentar'].str.get_dummies(sep= ' e ').drop(columns=['Nenhuma'])

In [42]:
restricao

    Glúten  Lactose
0        0        0
1        0        0
2        1        1
3        1        1
4        0        0
5        0        0
6        0        1
7        0        0
8        0        0
9        0        1
10       0        0
11       0        1
12       1        0
13       0        0
14       1        0
15       0        0
16       1        1
17       1        1
18       1        1
19       0        0
20       0        0
21       0        0
22       0        0
23       0        0
24       0        0
25       0        0
26       1        0
27       1        0
28       0        0
29       0        0
30       1        1
31       0        1
32       1        1
33       0        0
34       0        0
35       0        0
36       0        0

In [43]:
df_inf = pd.concat([df_inf, restricao], axis=1)

In [44]:
df_inf.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Restrição Alimentar,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,Email,Glúten,Lactose
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,Estado Civil não informado,43.0,NaN,Nenhuma,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com,0,0
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,Telefone não informado,31289.0,Estado Civil não informado,NaN,0.0,NaN,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com,0,0
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,Telefone não informado,NaN,Solteiro,60.0,NaN,Lactose e Glúten,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com,1,1
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,Telefone não informado,76264.0,Casado,26.0,4.0,Lactose e Glúten,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com,1,1
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,Telefone não informado,53295.0,Casado,60.0,5.0,NaN,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com,0,0

In [45]:
df_inf['Idoso'] = np.where(df_inf.Idade>=60, True, False)

In [46]:
df_inf.Idoso

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10     True
11     True
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34    False
35     True
36     True
Name: Idoso, dtype: bool